<!DOCTYPE html>
<html>
<head>
    <title>Tornado WebSockets</title>
    <script>
        var ws;
        var words = [];

        function onLoad() {
            ws = new WebSocket("ws://localhost:3000/websocket");

            ws.onmessage = function(e) {
               console.log("Received word: " + e.data);
               words.push(e.data);
            };
        }

        function sendMsg() {
          for (i=0; i<words.length; i++) {
            console.log("Word[" + i + "] " + words[i]);
          }
          ws.send(document.getElementById('msg').value);
        }
    </script>
</head>
<body onload="onLoad();">
    <strong>Message to Send:</strong>&nbsp;<input type="text" id="msg" maxlength="25" />
    &nbsp;<input type="button" onclick="sendMsg();" value="Send" />
</body>
</html>
