<!DOCTYPE html>
<html>
<head>
  <title>Experiment</title>
  <script src="jspsych-6.0.1/jspsych.js"></script>
  <script src="jspsych-6.0.1/plugins/jspsych-html-keyboard-response.js"></script>
  <link href="jspsych-6.0.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
  <script type=text/javascript>
      var ws;
      var test_pairs = [];
      var timeline = [];
      var s = {};
      var counter = 0;

      function printAll(s) {
        var value;
        for (var name in s) {
          value = s[name];
          console.log(name, value);
        }
      }

      ws = new WebSocket("ws://localhost:3000/websocket");

      ws.onmessage = function(e) {
        console.log("Received word: " + e.data);
        switch (counter) {
          case 0:
            //ID1
            s["ID0"] = e.data;
            counter++;
            break;
          case 1:
            //Data1
            s["data0"] = e.data;
            counter++;
            break;
          case 2:
            //ID2
            s["ID1"] = e.data;
            counter++;
            break;
          case 3:
            //Data2
            s["data1"] = e.data;
            test_pairs.push(s);
            printAll(s);
            counter = 0;
            break;
          default:
            console.log("Error - Data counter error");
        }
      };

      function sendMsg() {
        ws.send(document.getElementById('msg').value);
      }

      var welcome_block = {
          type: "html-keyboard-response",
          stimulus: "<h1>Welcome to the experiment. Press any key to continue</h1>"
      };
      timeline.push(welcome_block);

      var instructions_block = {
        type: "html-keyboard-response",
        stimulus: "<p>In this experiment, two sentances will appear one after " +
              "another in the center of the screen.</p><p>You will need to " +
              "compare them, and choose which one sounds more <strong>" +
              "normal</strong> in everyday speech.</p><p>If you think " +
              "the first sentance is more normal, press the <strong>A" +
              "</strong> button</p><p>If you think the second sentance is " +
              "more normal, press the <strong>D</strong> button</p>" +
              "<p>If the sentance contains the name of a <strong>fish</strong>" +
              ", then press the <strong>F</strong> key</p>" +
              "<p>You will only have 5 seconds to answer</p>" +
              "<p>Press any key to being<p>",
        post_trial_gap: 2000
      };
      timeline.push(instructions_block);

      var trial



      var test_block = {
        type: "html-keyboard-response",
        stimulus: function() {
          return "TEST";
        }
      };
      timeline.push(test_block);

      jsPsych.init({
          timeline: timeline
      })
  </script>
</head>
<body>
</body>
<!--<body onload="onLoad();">
    <strong>Message to Send:</strong>&nbsp;<input type="text" id="msg" maxlength="25" />
    &nbsp;<input type="button" onclick="sendMsg();" value="Send" />
</body>-->

</html>
