<!DOCTYPE html>
<html>
<head>
  <title>Experiment</title>
  <script src="jspsych-6.0.1/jspsych.js"></script>
  <script src="jspsych-6.0.1/plugins/jspsych-html-keyboard-response.js"></script>
  <link href="jspsych-6.0.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
  <script type=text/javascript>
      var ws;
      var sentences = [];
      var timeline = [];

      var cat = "cat";

      ws = new WebSocket("ws://localhost:3000/websocket");

      ws.onmessage = function(e) {
         console.log("Received word: " + e.data);
         sentences.push(e.data);
      };

      function sendMsg() {
        for (i=0; i<sentences.length; i++) {
          console.log("Word[" + i + "] " + sentences[i]);
        }
        ws.send(document.getElementById('msg').value);
      }

      var welcome_block = {
          type: "html-keyboard-response",
          stimulus: "<h1>Welcome to the experiment. Press any key to continue</h1>"
      };
      timeline.push(welcome_block);

      var instructions_block = {
        type: "html-keyboard-response",
        stimulus: "<p>In this experiment, two sentances will appear one after " +
              "another in the center of the screen.</p><p>You will need to " +
              "compare them, and choose which one sounds more <strong>" +
              "normal</strong> in everyday speech.</p><p>If you think " +
              "the first sentance is more normal, press the <strong>A" +
              "</strong> button</p><p>If you think the second sentance is " +
              "more normal, press the <strong>D</strong> button</p>" +
              "<p>If the sentance contains the name of a <strong>fish</strong>" +
              ", then press the <strong>F</strong> key</p>" +
              "<p>You will only have 5 seconds to answer</p>" +
              "<p>Press any key to being<p>"
      };

      var test_block = {
        type: "html-keyboard-response",
        stimulus: function() {
          console.log("TEST: " + sentences[0]);
          return "<p>" + sentences[0] + "</p>";
        }
      };
      timeline.push(test_block);

      jsPsych.init({
          timeline: timeline
      })
  </script>
</head>
<body>
</body>
<!--<body onload="onLoad();">
    <strong>Message to Send:</strong>&nbsp;<input type="text" id="msg" maxlength="25" />
    &nbsp;<input type="button" onclick="sendMsg();" value="Send" />
</body>-->

</html>
