<!DOCTYPE html>
<html>
<head>
  <title>Experiment</title>
  <script type="text/javascript" src="jspsych-6.0.1/jspsych.js"></script>
  <script type="text/javascript" src="jspsych-6.0.1/plugins/jspsych-html-keyboard-response.js"></script>
  <link href="jspsych-6.0.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
  <style type="text/css">
    #remaning {
      position: relative;
    }
    #remaining p {
      position: absolute;
      top: 5%;
      right: 10%;
      font-size: 24px;
    }
  </style>
  <script type=text/javascript>
      var ws;
      var test_pairs = [];
      var results = [];
      var timeline = [];
      var s = [];
      var counter = -1;
      var index = 0;
      var tests = -1;
      var c = 0;

      ws = new WebSocket("ws://localhost:5000/websocket");

      ws.onmessage = function(e) {
        switch (counter) {
          case -1:
            tests = e.data;
            console.log("Tests: " + tests);
            counter++;
            break;
          case 0:
            //ID1
            s[0] = e.data;
            counter++;
            break;
          case 1:
            //Data1
            s[1] = e.data;
            counter++;
            break;
          case 2:
            //ID2
            s[2] = e.data;
            counter++;
            break;
          case 3:
            //Data2
            s[3] = e.data;
            test_pairs.push(s);
            s = [];
            counter = 0;
            break;
          default:
            console.log("Error - Data counter error");
        }

        if (test_pairs.length >= (tests - 1)) {
          runExp();
        }

      };

      function printAllPairs() {
        for (i=0; i<test_pairs.length; i++) {
          console.log(test_pairs[i][0] + " " + test_pairs[i][1]);
          console.log(test_pairs[i][2] + " " + test_pairs[i][3]);
          console.log("");
        }
      }

      function printAllResults() {
        console.log("Results:");
        for (var i=0; i<results.length; i++) {
          console.log(results[i]);
        }
      }

      function sendResults() {
        for (var i=0; i<results.length; i++) {
          ws.send(results[i]);
        }
        console.log("Results all sent to server");
        return 0
      }

      function runExp() {
        var welcome_block = {
            type: "html-keyboard-response",
            stimulus: "<h1>Welcome to the experiment. Press any key to continue</h1>"
        };
        timeline.push(welcome_block);

        var instructions_block = {
          type: "html-keyboard-response",
          stimulus: "<p>In this experiment, two sentences will appear one after " +
                "another in the center of the screen.</p><p>You will need to " +
                "compare them, and choose which one sounds more <strong>" +
                "normal</strong> in everyday speech.</p><p>If you think " +
                "the first sentence is more normal, press the <strong>A" +
                "</strong> button</p><p>If you think the second sentence is " +
                "more normal, press the <strong>D</strong> button</p>" +
                "<p>If the sentence contains the word <strong>\"fish\"</strong>" +
                ", then press the <strong>F</strong> key</p>" +
                "<p>You will only have 5 seconds to answer</p>" +
                "<p>Press any key to being<p>",
          post_trial_gap: 2000
        };
        timeline.push(instructions_block);

        var test_block = {
          type: "html-keyboard-response",
          trial_duration: 5000,
          response_ends_trial: true,
          choices: [65, 68, 70],
          data: jsPsych.timelineVariable('data'),
          stimulus: function() {
            var result = "<div id=\"remaining\"><p>" + c + "/" + tests + "</p></div><h2>" + test_pairs[index][1] + "</h2><h2>" + test_pairs[index][3] + "</h2>";
            ++c;
            return result;
          },
          prompt: "<p>Which sounds more normal?</p><p>Press a for choice 1, Press d for choice 2</p>",
          on_finish: function(data) {
            var key = data.key_press;
            if (key == null) {
              //Just returns nothing - draw case. TODO Improve?
              console.log("NULL CASE");
            }
            else {
              if (key == 65) {
                results.push(test_pairs[index][0]);
                results.push(test_pairs[index][2]);
                index++;
              }
              else if (key == 68) {
                results.push(test_pairs[index][2]);
                results.push(test_pairs[index][0]);
                index++;
              }
              else {
                console.log("FISH CASE");
              }
            }
          }
        };

        var test_procedure = {
          timeline: [test_block],
          randomize_order: true,
          repetitions: tests,
        };
        timeline.push(test_procedure);

        var debrief_block = {
          type: "html-keyboard-response",
          stimulus: "<p>Thank you for your time. Experiment complete</p>",
          on_load: function() {
            printAllResults();
            //Send results, and shut websocket once they're all sent
            if (sendResults() == 0) {
              console.log("Closing websocket");
              ws.close();
            }
          },
          on_finish: function() {
            jsPsych.endExperiment();
          }
        };
        timeline.push(debrief_block);

        jsPsych.init({
            timeline: timeline,
        });
      }
  </script>
</head>
<body>
</body>
</html>
